<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        <style>
        body {
            background-image: url('static/bg.jpeg');
            background-size: cover;
        }
    </style>

</head>
<body>

<div class="container-fluid">


    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-5">
        <div class="row">
            <h1>Sirius's Seriously Magical Items Emporium</h1>
            <p>Greetings, esteemed denizens of the mystical realm! Step into the enchanting world of Sirius's Seriously Magical Items Emporium, where wonders and whimsy collide in a spectacular display of mystical marvels. Nestled in the heart of the enchanted forest, our emporium is the go-to destination for all your magical needs.</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Discover the Magic</h3>
                <p>Embark on a journey through our virtual aisles, brimming with potions, spellbooks, enchanted trinkets, and more! Whether you're a seasoned sorcerer or a budding mage, you'll find treasures that will tickle your magical fancy.</p>
                <img src="/static/wands.jpeg"  width="400" height="500"/>
            </div>
            <div class="col-sm-4">
                <h3>Potions Galore</h3>
                <p>Imbibe the essence of magic with our curated collection of potions. From the Elixir of Infinite Levity to the Potion of Quizzical Wisdom, find concoctions to elevate your mystical prowess.</p>
                <img src="/static/potions.jpeg"  width="400" height="500"/>
            </div>
            <div class="col-sm-4">
                <h3>Alchemy Artifacts</h3>
                <p> For the alchemists in pursuit of transmutation glory, explore our alchemy items. Philosopher's Stones, Elemental Essences, rare stones and elements, and more await your skilled hands.
</p>
                <img src="/static/alchemy.jpeg"  width="400" height="500"/>
            </div>
        </div>
    </div>

</body>
</html>
